@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@500;700&display=swap");

/* GLOBAL */
html {
  scroll-behavior: smooth;
}

:root {
  --headings-font: "Raleway", sans-serif;
  --body-font: "Montserrat", sans-serif;
  --aqua-color: #e0fbfc;
  --purple-color: #fbebe3;
  --color-black: #fef6f0;
  --color-white: #424243;
  --color-lavender: #0c7f83;
  --color-light-cyan: #e0fbfc;
  --color-light-teal: #82c3c6;
  --color-teal: #0c7f83;
  --color-light-orange: #e8a487;
  --color-orange: #db7043;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--headings-font);
  color: var(--color-white);
  padding: 5px 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

p {
  font-family: var(--body-font);
  color: var(--color-white);
  font-weight: 500;
}

body {
  background-color: var(--color-black);
  font-family: var(--body-font);
}

a {
  color: var(--color-orange);
}

a:hover {
  color: var(--color-light-orange);
  text-decoration: underline;
}

.section-heading {
  text-transform: lowercase;
  font-size: 4rem;
  font-weight: initial;
  color: var(--color-teal);
}

.heading-bold {
  font-weight: 700;
}

.body-bold {
  font-weight: 600;
}

.header {
  font-family: var(--headings-font) !important;
}

.button {
  background-color: #e8a487 !important;
  border: none;
  color: #ffffff !important;
  padding: 15px 30px;
  transition: transform 0.3s !important;
  border-radius: 50px;
  font-family: var(--body-font) !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  box-shadow: 1px 1px 5px #707070;
}

.button:hover {
  background: linear-gradient(
    to right,
    var(--color-lavender),
    var(--color-light-teal)
  );
  cursor: pointer;
}

.button.shadow {
  box-shadow: 3px 3px 10px #bcb8b1;
}

.button.shadow:hover {
  box-shadow: 3px 3px 10px #bcb8b1;
}

.svg-icon-large {
  width: 50px;
}

.svg-icon-small {
  width: 40px;
}

/* NAV */

#nav {
  background: linear-gradient(
    rgba(244, 212, 198, 1),
    rgba(244, 212, 198, 0.03)
  );
  font-family: var(--headings-font);
  height: 100px;
  margin: auto;
  position: -webkit-sticky;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  z-index: 2;
}

#nav #nav__icon {
  display: none;
}

#nav a {
  text-decoration: none;
  color: var(--color-white) !important;
  padding: 15px 25px;
  font-size: 1.2rem;
  border: 1px solid transparent;
}

#nav a:hover {
  text-decoration: none;
  color: var(--color-orange) !important;
  border: 1px solid var(--color-orange);
}

.nav-item {
  font-size: 1.2rem;
  text-decoration: underline;
  border-radius: 5px;
}

/* HOME SECTION */

#home {
  color: var(--color-white);
  background-color: var(--color-black);
  padding-top: 150px;
  text-align: center;
}

.home__intro {
  max-width: 580px;
  padding: 10px;
  margin: 30px auto;
}

#home h1 {
  display: inline-block;
  padding-left: 3px;
  padding-right: 36px;
  padding-top: 15px;
  margin-bottom: 20px;
  background-color: var(--aqua-color);
  color: var(--color-black);
  border-radius: 1px;
}

.home__memoji {
  width: 200px;
}

#contact-button {
  padding: 23px;
  font-size: 1.2rem;
}

/* ABOUT ME SECTION */

#about {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 100px 0 50px 0;
}

#about h2 {
  color: var(--color-lavender);
}

.about__container {
  display: flex;
  gap: 80px;
  align-items: center;
}

.about__container__left {
  display: grid;
  grid-template-columns: 65px 1fr 65px;
  gap: 10px;
}

.about__container__left .about__left-quote {
  align-self: start;
  justify-self: center;
}

.about__container__left .about__content {
  align-self: center;
  font-size: 1.2rem;
  padding: 25px 0;
}

.about__content p {
  margin: 10px;
}

.about__container__left .about__right-quote {
  align-self: end;
  justify-self: center;
}

img.portrait__img {
  width: 330px;
  align-self: center;
}

/* PROJECTS SECTION */
#projects {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 100px 0;
}

#projects__heading {
  position: relative;
  margin-bottom: 20px;
}

#projects__heading img {
  position: absolute;
  top: 18px;
  left: 0;
}

#projects__heading h2 {
  color: var(--color-lavender);
  text-align: center;
  margin-top: 0;
}

.project__titles {
  font-weight: 700;
}

.projects__item__container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 80px auto 80px;
}

.projects__item__container__background {
  background-color: #c1dcd8;
  grid-column-start: 3;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 4;
}

.projects__item__container__image {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}

.projects__item__container__image img {
  width: 100%;
}

.projects__item__container__content {
  grid-column-start: 10;
  grid-column-end: 14;
  grid-row-start: 2;
  grid-row-end: 3;
}

.projects__item__tech {
  margin: 14px 0;
  display: flex;
  flex-wrap: wrap;
}

.projects__item__tech p {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid var(--color-light-cyan);
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: 7px;
}

.projects__item__demo p {
  font-size: 0.9rem;
  margin-bottom: 14px;
}

.projects__item__links a {
  text-decoration: none;
  color: var(--color-light-teal);
  font-size: 1.1rem;
}

.projects__item__links a:hover {
  text-decoration: none;
  color: var(--color-light-cyan);
}

/* SKILLS SECTION */

#skills {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
}

.skills__heading {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
}

.skills__heading h2 {
  padding-left: 10px;
  display: inline;
}

.skills-logo {
  margin: 15px !important;
  width: 100px;
}

.skills__container {
  text-align: center;
  max-width: 1480px;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* CONTACT SECTION */

#contact {
  color: var(--color-white);
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 100px 0;
}

.contact__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__heading h2 {
  color: var(--color-lavender);
}

.contact__info {
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
  max-width: 500px;
  margin: 25px auto;
}

.contact__info img {
  width: 150px;
}

.contact__info__content {
  padding-top: 5px;
}

.contact__info__content p {
  margin-top: 25px;
  font-size: 1.2rem;
}

.contact__info h3 {
  margin: 0;
  padding: 0;
}

.contact__links__container {
  text-align: center;
  display: flex;
  gap: 35px;
  justify-content: center;
  margin: 75px 0;
  flex-wrap: wrap;
}

#contact__links__resume-button {
  padding: 20px 30px;
  font-size: 1.2rem;
  background-color: var(--color-teal) !important;
}

#contact__links__linkedin-button {
  padding: 20px;
  font-size: 1.2rem;
  background-color: #0077b5 !important;
}
#contact__links__github-button {
  padding: 20px;
  font-size: 1.2rem;
  background-color: #7dbbe6 !important;
}
#contact__links__email-button {
  padding: 20px;
  font-size: 1.2rem;
  background-color: #b23121 !important;
}

#contact__form {
  background-color: #fff;
  margin: 25px auto;
  padding: 100px 10px;
  max-width: 900px;
}

.contact__form__heading {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.contact__form__heading h2 {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  color: var(--color-orange);
}

.contact__form__fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  margin: auto;
}

.contact__form__fields input {
  border: 1px solid var(--color-white);
  background-color: #fff;
  color: var(--color-white);
  font-family: var(--body-font);
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 0;
}

.contact__form__fields textarea {
  border: 1px solid var(--color-white);
  background-color: #fff;
  color: var(--color-white);
  font-family: var(--body-font);
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.contact__form__container .button {
  background-color: var(--color-orange) !important;
}

#send-button-tag {
  border: none;
  background: transparent;
  display: block;
  margin: 20px auto;
  padding: 0;
}

#send-button {
  width: 100px;
  padding: 20px;
}

/* SECTION RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 752px) {
  .about__container__left {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__container__left .about__left-quote {
    justify-self: start;
    padding-left: 10px;
  }

  .about__container__left .about__right-quote {
    justify-self: end;
    padding-right: 10px;
  }

  .about__container__left .about__content {
    padding: 0;
  }

  #projects__heading img {
    position: unset;
    top: unset;
    left: unset;
  }

  #projects__heading h2 {
    text-align: left;
  }

  .contact-left {
    padding-left: 0;
    text-align: center;
  }

  #contact__form {
    padding: 50px 25px;
  }

  .contact__form__fields input {
    width: 95%;
    margin: auto;
  }

  .contact__form__fields textarea {
    width: 95%;
    margin: auto;
  }
}

@media only screen and (min-width: 752px) {
  .nav-item {
    color: var(--purple-color) !important;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1000px) {
  #nav {
    justify-content: space-around;
  }

  #nav a:not(:first-child) {
    display: none;
  }

  #nav a#nav__icon {
    display: block;
  }

  #about {
    width: 90%;
  }

  #nav.responsive {
    flex-direction: column;
    gap: 10px;
    background-color: rgba(4, 14, 15, 0.5);
    height: auto;
    padding-top: 30px;
  }

  #nav.responsive a {
    display: inline-block;
    text-decoration: none;
  }

  .projects__item__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c1dcd8;
    padding: 50px;
  }

  .projects__item__container__background {
    display: none;
  }

  .projects__item__container__image {
    width: 90%;
    max-width: 550px;
  }

  .projects__item__container__content {
    text-align: justify;
  }

  .about__container {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    align-items: center;
  }
}
